<ion-view title="Create Rank" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="createRank-form1" class="list" ng-submit="createRank()">
      <label class="item item-input" id="createRank-input3">
        <span class="input-label">Username</span>
        <input type="text" placeholder="" ng-model="rank.username">
      </label>
      <label class="item item-input" id="createRank-input4">
        <span class="input-label">Facebook ID</span>
        <input type="text" placeholder="" ng-model="rank.facebook_id">
      </label>
      <label class="item item-input" id="createRank-input5">
        <span class="input-label">Email</span>
        <input type="text" placeholder="" ng-model="rank.email">
      </label>
      <label class="item item-input" id="createRank-input6">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="" ng-model="rank.first_name">
      </label>
      <label class="item item-input" id="createRank-input7">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="" ng-model="rank.last_name">
      </label>
      <label class="item item-input" id="createRank-input8">
        <span class="input-label">Points</span>
        <input type="text" placeholder="" ng-model="rank.points">
      </label>
      <label class="item item-input" id="createRank-input9">
        <span class="input-label">Highest Score</span>
        <input type="text" placeholder="" ng-model="rank.highest_score">
      </label>
      <button id="createRank-button1" class="button button-positive  button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>